<h2>職員Menu</h2>
<table width="80%" align="center">
    <tbody>
        <tr>
            <td width="50%" height="50" style="text-align: center">
            	<%= link_to "タイムカード", timecards_index_path, class: 'btn btn-primary', style: "width:80%; height:40px"%>
        	</td>
            <td width="50%" height="50" style="text-align: center">
            	<%= link_to "経費", expences_path, class: 'btn btn-primary', style: "width:80%; height:40px"%>
			</td>
        </tr>
        <tr>
            <td  width="50%" height="50" style="text-align: center">
            	<%#= button_tag "給与明細", class: "btn btn-primary", style: "width:80%; height:40px" %>
						</td>
            <td  width="50%" height="50" style="text-align: center"></td>
        </tr>
        <tr>
            <td  width="50%" height="50"></td>
            <td  width="50%" height="50"></td>
        </tr>
    </tbody>
</table>

<% if @user.admin %>
	<h2>管理者Menu</h2>
	<table width="80%"  align="center">
		<tr>
			<td width="50%" height="50" style="text-align: center">
		    	<%= link_to "社員マスタ", users_path, class: "btn btn-primary", style: "width:80%; height:40px" %>
		    </td>
		    <td width="50%" height="50" style="text-align: center">
		    	<%= link_to "TC・経費承認", approval_path, class: "btn btn-primary", style: "width:80%; height:40px" %>
			</td>
		</tr>
	    <tr>
	    	<td width="50%" height="50" style="text-align: center">
	    		<%= link_to "TCマスタメンテ", tcmente_path, class: "btn btn-primary", style: "width:80%; height:40px" %>
	    	</th>
	        <td width="50%" height="50"></td>
	    </tr>
	</table>
<% end %>