<% provide(:title, 'タイムカード') %>
<br />

<div class="container" width="80%">
	<%= form_for(@tc,url: timecards_path) do |tc| %>
		<%= tc.hidden_field :id, value: tc.object.id %>
		<table class="my_table">
			<tr height=40>
				<th width="10%">対象年月</th>
				<td width="10%">
					<%= tc.label :target_month, value: tc.object.target_month %>
				</td>
				<td width="10%">
					<%= tc.label :shinsei_kbn, value: Generic.find_by(kbn:"K01", key1: tc.object.shinsei_kbn).data1 %>
				</td>
				<th width="10%">氏名</th>
				<td>
					<%= User.find_by(id: tc.object.user_id).name %>
				</td>
			</tr>
		</table>
		
		
		<br />
		<table class="my_table">
			<thead>
				<tr>
					<th width="7%">日付</th>
					<th width="8%">勤務状況</th>
					<th width="15%">出勤</th>
					<th width="15%">退勤</th>
					<th width="7%">休憩</th>
					<th>備考</th>
				</tr>
			</thead>
			<%= tc.fields_for :timecard_detail do |detail| %>
				<%= render 'tc_details_fields', f: detail %>
			<% end %>
		</table>
		
		<div class="row">
			<div class="col-md-2 offset-md-6">
				<%= link_to "戻る", :back, class:"btn btn-primary" %>
			</div>
			<% if !@disabled %>
				<%= tc.submit "更新",name: "btn_update" , class: "btn btn-primary"%>
				<%= tc.submit "申請" ,name: "btn_shinsei", class: "btn btn-primary"%>
			<% end %>
		</div>
	<% end %>
</div>
