<% provide(:title, "社員一覧") %>
<br />
<div class="container" style="width:80%">
	<table class="my_table">
		<thead>
			<tr>
				<th width="50%">名前</td>
				<th width="20%">役職</td>
				<th width="30%">アクション</td>
			</tr>
		</thead>
		<tbody>
			<% User.all.each do |user| %>
				<tr>
					<td>
					  <%= user.name %>
					</td>
					<td>
					  <%= user.admin ? "所属長" :"一般" %>
					</td>
					<td>
						<%= link_to "参照", user_path(user)  %>&nbsp;&nbsp;
						<%= link_to "編集", edit_user_path(user) %>&nbsp;&nbsp;
						<%= link_to "削除", "#" %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
	
	<div class="row">
		<div class="col-md-2 offset-md-8">
			<%= link_to "戻る", home_path, class:"btn btn-primary" %>
		</div>
		<div class="col-md-2">
			<%= link_to "新規登録" , new_user_path, action: :patch ,class: "btn btn-primary" %>
		</div>
	</div>
</div>
